<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>337094269864-m8ag6c2eghnu485eho7qtb76jvmtrujl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.337094269864-m8ag6c2eghnu485eho7qtb76jvmtrujl</string>
	<key>API_KEY</key>
	<string>AIzaSyASQTFHjyQ48_IKGDOEfPPRb94ZYUoa8kg</string>
	<key>GCM_SENDER_ID</key>
	<string>337094269864</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dima</string>
	<key>PROJECT_ID</key>
	<string>dima-project-14beb</string>
	<key>STORAGE_BUCKET</key>
	<string>dima-project-14beb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:337094269864:ios:9bd201b7d21d84e72d9b9d</string>
</dict>
</plist>